@model IEnumerable<NKYS.Models.Salary>

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript">
    Application.Main.CurrentView = "SalarieSearch";
</script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<partial name="SalariesSearchFilter" model="null"  view-bag="ViewBag" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsentHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SocialSercurityFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HousingReserves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullPresencePay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OvertimePay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AbsentDeduct)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DormFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TransportFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherFee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cycle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="SalariesSearch_Table_Body">
        <partial name="SalariesSearchTable"></partial>
    </tbody>
</table>


