@model IEnumerable<NKYS.Models.Salary>

@if (Model.Count() > 0)
{
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsentHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSercurityFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HousingReserves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullPresencePay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OvertimePay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AbsentDeduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DormFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransportFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cycle.Label)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employe.Id)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
}
else
{
	<tr><td colspan="15" class="text-center">No data to display</td></tr>         
}

