@model NKYS.Models.ViewModel.SalarieSearchModel

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript">
    Application.Main.CurrentView = "SalariesValidation";
</script>

<h1 data-i18n="SalariesValidation"></h1>



<div>
    <div class="row p-2">
        <div class="col-3 form-group">
            <label asp-for="DepartmentId" class="control-label"></label>
            <select asp-for="DepartmentId" class="form-control selectpicker" asp-items="ViewBag.Departments" id="SalariesValidation_Select_DepartmentId" onchange="Application.ViewsScript['SalariesValidation'].OnChangeCriteria(event)">
                <option selected value="-1"></option>
            </select>
        </div>
        <div class="col-3 form-group">
            <label asp-for="GroupsId" class="control-label"></label>
            <select asp-for="GroupsId" class="form-control selectpicker" id="SalariesValidation_Select_GroupId" onchange="Application.ViewsScript['SalariesValidation'].OnChangeCriteria(event)" asp-items="ViewBag.Groups">
                <option selected value="-1"></option>
            </select>
        </div>
        <div class="col-2 form-group">
            <label asp-for="PeriodId" class="control-label"></label>
            <select asp-for="PeriodId" class="form-control selectpicker" asp-items="ViewBag.Periods" id="SalariesValidation_Select_PeriodId" onchange="Application.ViewsScript['SalariesValidation'].OnChangeCriteria(event)">
                <option selected value="-1"></option>
            </select>
        </div>
        <div class="col-2 form-group">
            <label asp-for="Validity" class="control-label"></label>
            <select asp-for="Validity" class="form-control selectpicker"  id="SalariesValidation_Select_SalaryValidity" onchange="Application.ViewsScript['SalariesValidation'].OnChangeCriteria(event)">
                <option selected value="-1"></option>
            </select>
        </div>

        <div class="col-2">
            <button type="button" class="btn btn-primary" style="margin-top:30px;" disabled id="SalariesValidation_Button_Search" onclick="Application.ViewsScript['SalariesValidation'].RefreshData()" />
            Search
            </button>
            @*<button type="button" class="btn btn-primary" style="margin-top:30px;" disabled id="SalariesSearchFilter_Button_Edit" onclick="Application.ViewsScript['SalarieSearch'].EditSalariesModal()" />
            Edit
            </button>
            <button type="button" class="btn btn-primary" style="margin-top:30px;" disabled id="SalariesSearchFilter_Button_Validation" onclick="Application.ViewsScript['SalarieSearch'].ValidationSalariesModal()" />
            Validation
            </button>*@
        </div>

    </div>
    <div class="row p-2">
        <div class="col-3">
            <button type="button" class="btn btn-primary" id="SalariesValidation_Button_Validation" data-i18n="Validation" disabled></button>
        </div>
    </div>
    <hr />
    <table id="table"></table>
    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered" id="SalariesValidation_Table">
            <thead id="SalariesValidation_Table_Head" class="thead-light">
            </thead>
            <tbody id="SalariesValidation_Table_Body">
            </tbody>
        </table>
    </div>
</div>



<script type="text/html" id="Tp1_SalariesValidation_Table_Head">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Employe.Groups)</th>
        <th>@Html.DisplayNameFor(model => model.Employe.Name)</th>
        <th>@Html.DisplayNameFor(model => model.Employe.ExternalId)</th>

        <th>@Html.DisplayNameFor(model => model.TotalWorkingHours)</th>
        <th>@Html.DisplayNameFor(model => model.WorkingDays)</th>
        <th>@Html.DisplayNameFor(model => model.StandardWorkingHours)</th>

        
        <th>@Html.DisplayNameFor(model => model.AbsentHours)</th>
        <th>@Html.DisplayNameFor(model => model.DeferredHolidayHours)</th>


        <th>@Html.DisplayNameFor(model => model.AbsentDeduct)</th>
        <th>@Html.DisplayNameFor(model => model.OvertimePay)</th>


        <th>@Html.DisplayNameFor(model => model.SocialSercurityFee)</th>
        <th>@Html.DisplayNameFor(model => model.SelfPaySocialSercurityFee)</th>
        <th>@Html.DisplayNameFor(model => model.HousingReservesFee)</th>

        <th>@Html.DisplayNameFor(model => model.OtherRewardFee)</th>
        <th>@Html.DisplayNameFor(model => model.OtherPenaltyFee)</th>
        <th>@Html.DisplayNameFor(model => model.FullPresencePay)</th>
        <th>@Html.DisplayNameFor(model => model.SeniorityPay)</th>
        <th>@Html.DisplayNameFor(model => model.TransportFee)</th>
        <th>@Html.DisplayNameFor(model => model.DormFee)</th>
        <th>@Html.DisplayNameFor(model => model.DormOtherFee)</th>
        <th>@Html.DisplayNameFor(model => model.PositionPay)</th>

        <th>@Html.DisplayNameFor(model => model.NetSalary)</th>
        <th>@Html.DisplayNameFor(model => model.SalaryTax)</th>
        <th>@Html.DisplayNameFor(model => model.FinalSalary)</th>

    </tr>
</script>

<script type="text/html" id="Tp1_SalariesValidation_Table_Body">
    <tr data-template-bind='[{"attribute": "data-salary-id", "value": "Id"},{"attribute": "data-employee-id", "value": "EmployeId"},{"attribute": "data-cycle-id", "value": "CycleId"},{"attribute": "class", "value": "SalaryLineClass"}]'>
        <td style=" white-space: nowrap; overflow: hidden; word-break: keep-all;">
            <div class="form-check" data-template-bind='[{"attribute": "data-check", "value": "IsNotValidated", "bindingOptions": {"ignoreUndefined": true, "ignoreNull": true, "ignoreEmptyString": true}}]'>
                <input class="form-check-input" type="checkbox" value="" data-template-bind='[{"attribute": "Id", "value": "Id"}]' onchange="Application.ViewsScript['SalariesValidation'].validateSalaries(event)">
                <label class="form-check-label" data-template-bind='[{"attribute": "for", "value": "Id"}]'>
                    <span data-content="GroupLabel"></span>
                </label>
            </div>
            <sp an data-content="GroupLabel"  data-template-bind='[{"attribute": "data-checked", "value": "Validated", "bindingOptions": {"ignoreUndefined": true, "ignoreNull": true, "ignoreEmptyString": true}}]'></span>
        </td>
        <td data-content="Name"></td>
        <td data-content="ExternalId"></td>

        <td data-content="TotalWorkingHours"></td>
        <td data-content="WorkingDays"></td>
        <td data-content="StandardWorkingHours"></td>

        <td data-content="AbsentDeduct"> </td>
        <td data-content="OvertimePay"> </td>


        <td data-content="AbsentHours"> </td>
        <td data-content="DeferredHolidayHours"> </td>

        <td data-content="SocialSercurityFee"> </td>
        <td data-content="SelfPaySocialSercurityFee"> </td>
        <td data-content="HousingReservesFee"> </td>


        <td data-content="OtherRewardFee"> </td>
        <td data-content="OtherPenaltyFee"> </td>
        <td data-content="FullPresencePay"> </td>
        <td data-content="SeniorityPay"> </td>
        <td data-content="TransportFee"> </td>
        <td data-content="DormFee"> </td>
        <td data-content="DormOtherFee"> </td>
        <td data-content="PositionPay"> </td>

        <td data-content="NetSalary"> </td>
        <td data-content="SalaryTax"> </td>
        <td data-content="FinalSalary"> </td>

    </tr>
</script>

<script type="text/html" id="Tp1_SalariesEdit_Table_Head">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Employe.Groups)</th>
        <th>@Html.DisplayNameFor(model => model.Employe.Name)</th>

        <th>@Html.DisplayNameFor(model => model.WorkingHoursDay)</th>
        <th>@Html.DisplayNameFor(model => model.WorkingHoursNight)</th>
        <th>@Html.DisplayNameFor(model => model.WorkingHoursHoliday)</th>

        <th>@Html.DisplayNameFor(model => model.WorkingScore)</th>
        <th>@Html.DisplayNameFor(model => model.DormOtherFee)</th>
        <th>@Html.DisplayNameFor(model => model.FullPresencePay)</th>
        <th>@Html.DisplayNameFor(model => model.OtherRewardFee)</th>
        <th>@Html.DisplayNameFor(model => model.OtherPenaltyFee)</th>
        <th>@Html.DisplayNameFor(model => model.Comment)</th>
    </tr>
</script>
<script type="text/html" id="Tp1_SalariesEdit_Table_Body">
    <tr data-template-bind='[{"attribute": "data-salary-id", "value": "SalaryId"},{"attribute": "data-employee-id", "value": "Id"},{"attribute": "data-cycle-id", "value": "CycleId"},{"attribute": "class", "value": "SalaryLineClass"}]'>
        <td data-content="GroupLabel"></td>
        <td data-content="Name"></td>

        <td><input type="text" data-type="WorkingHoursDay" class="form-control" data-template-bind='[{"attribute": "value", "value": "WorkingHoursDayValue"}]' onchange="Application.ViewsScript['SalarieSearch'].OnChangeEditSalarieModalField(event)" /> </td>
        <td><input type="text" data-type="WorkingHoursNight" class="form-control" data-template-bind='[{"attribute": "value", "value": "WorkingHoursNightValue"}]' onchange="Application.ViewsScript['SalarieSearch'].OnChangeEditSalarieModalField(event)" /> </td>
        <td><input type="text" data-type="WorkingHoursHoliday" class="form-control" data-template-bind='[{"attribute": "value", "value": "WorkingHoursHolidayValue"}]' onchange="Application.ViewsScript['SalarieSearch'].OnChangeEditSalarieModalField(event)" /> </td>
     
        <td><input type="text" data-type="WorkingScore" class="form-control" data-template-bind='[{"attribute": "value", "value": "WorkingScoreValue"},{"attribute": "disabled", "value": "IsFixSalary"}]' onchange="Application.ViewsScript['SalarieSearch'].OnChangeEditSalarieModalField(event)" /> </td>

        <td><input data-type="DormOtherFee" type="text" class="form-control" data-template-bind='[{"attribute": "value", "value": "DormOtherFeeValue"},{"attribute": "disabled", "value": "HasNoDormLabel"}]' onchange="Application.ViewsScript['SalarieSearch'].OnChangeEditSalarieModalField(event)" /> </td>
        <td><input data-type="FullPresencePay" type="text" class="form-control" data-template-bind='[{"attribute": "value", "value": "FullPresencePayValue"}]' onchange="Application.ViewsScript['SalarieSearch'].OnChangeEditSalarieModalField(event)" /> </td>

        <td><input data-type="OtherRewardFee" type="text" class="form-control" data-template-bind='[{"attribute": "value", "value": "OtherRewardFeeValue"}]' onchange="Application.ViewsScript['SalarieSearch'].OnChangeEditSalarieModalField(event)" /> </td>
        <td><input data-type="OtherPenaltyFee" type="text" class="form-control" data-template-bind='[{"attribute": "value", "value": "OtherPenaltyFeeValue"}]' onchange="Application.ViewsScript['SalarieSearch'].OnChangeEditSalarieModalField(event)" /> </td>

        <td><textarea data-type="Comment" class="form-control" data-template-bind='[{"attribute": "value", "value": "CommentValue"}]' onchange="Application.ViewsScript['SalarieSearch'].OnChangeEditSalarieModalField(event)" />  </td>

    </tr>
</script>


<script type="text/html" id="Tp1_EditSalariesModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-content="title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body table-responsive pl-0 pr-0">
                <table class="table" id="EditSalariesModal_Table">
                    <thead id="EditSalariesModal_Table_Head">
                    </thead>
                    <tbody id="EditSalariesModal_Table_Body">
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <div class="alert alert-danger d-none" role="alert" id="EditSalariesModal_ErrorMessage">
                </div>

                <button type="button" class="btn btn-danger" id="EditSalariesModal_Button_Close">
                    Close
                </button>

                <button type="button" class="btn btn-primary" id="EditSalariesModal_Button_Save" onclick="Application.ViewsScript['SalarieSearch'].saveSalaries(event)">
                    Validate
                </button>
            </div>
        </div>
    </div>
</script>



@*<script type="text/html" id="Tp1_ValidationSalariesModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" data-content="title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body table-responsive pl-0 pr-0">
                <table class="table" id="EditSalariesModal_Table">
                    <thead id="ValidationSalariesModal_Table_Head">
                    </thead>
                    <tbody id="ValidationSalariesModal_Table_Body">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="alert alert-danger d-none" role="alert" id="ValidationSalariesModal_ErrorMessage">
                </div>

                <button type="button" class="btn btn-danger" id="ValidationSalariesModal_Button_Close">
                    Close
                </button>

                <button type="button" class="btn btn-primary" id="ValidationSalariesModal_Button_Save" onclick="Application.ViewsScript['SalarieSearch'].validateSalaries(event)">
                    Validate
                </button>
            </div>
        </div>
    </div>
</script>*@