@using System.Security.Claims

<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NKYS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" /> <!--Import fa -->
    <link rel="stylesheet" href="~/lib/mask/jquery.loadmask.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons-1.2.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/lib/adminLte3/dist/css/adminlte.min.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <environment include="Development">
        <link rel="stylesheet" asp-href-include="css/*" asp-href-exclude="css/all.min.css" />

        <!-- Import js files  -->
        <script src="~/js/framework/NameSpaces.js"></script>
        <script src="~/js/framework/Main.js"></script>

        <script src="~/js/Config/i18n_cn.js"></script>
        <script src="~/js/Config/Configuration.js"></script>
        <script src="~/js/Salaries/SalarieSearch.js"></script>
        <script src="~/js/Salaries/SalariesValidation.js"></script>
        <script src="~/js/Employe/EmployeSearch.js"></script>
        <script src="~/js/Services//CommonService.js"></script>
        <script src="~/js/Groups/GroupModuleView.js"></script>
        <script src="~/js/Salaries/SalaryCalculModule.js"></script>
        <script src="~/js/site.js"></script>
        <script src="~/lib/vue/vue.js"></script>
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <script src="~/min/site.min.js" asp-append-version="true"></script>
        <script src="~/lib/vue/vue.min.js"></script>
    </environment>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fa fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-link">Contact</a>
                </li>

                <li class="nav-item d-none d-sm-inline-block">
                    <a class="nav-link" data-toggle="modal" data-target="#logoutModal" style="cursor:pointer;">
                        Deconnect
                    </a>
                </li>
            </ul>

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-controller="Home" asp-action="Index" class="brand-link">
                <img src="/lib/adminLte3/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">AdminLTE 3</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="info">
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="d-block">@User.Identity.Name</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a id="Home" asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">
                                <p>
                                    Home
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a id="Privacy" asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-link">
                                <p>
                                    Privacy
                                </p>
                            </a>
                        </li>


                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Finance"))
                        {
                            <li class="nav-item">
                                <a id="CyclesModule" asp-area="" asp-controller="Cycles" asp-action="Index" class="nav-link">
                                    <p data-i18n="CyclesModule">
                                        Cycles
                                    </p>
                                </a>
                            </li>
                        }

                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Finance"))
                        {
                            <li class="nav-item">
                                <a id="ProductionValuesModule" asp-area="" asp-controller="ProductionValues" asp-action="Index" class="nav-link">
                                    <p data-i18n="ProductionValuesModule">
                                        ProductionValues
                                    </p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <li class="nav-item">
                                <a id="DepartmentsModule"  asp-area="" asp-controller="Departments" asp-action="Index" class="nav-link">
                                    <p data-i18n="DepartmentsModule">
                                        Departments
                                    </p>
                                </a>
                            </li>
                        }

                        <li class="nav-item">
                            <a id="SalariesInputModule" asp-area="" asp-controller="Salaries" asp-action="SalarieSearch" class="nav-link">
                                <p data-i18n="SalariesInputModule">
                                    Salaries
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a id="EmployesModule" asp-area="" asp-controller="Employes" asp-action="EmployeSearch" class="nav-link">
                                <p data-i18n="EmployesModule">
                                    Employes
                                </p>
                            </a>
                        </li>
                        @if (User.IsInRole("SuperAdmin") || User.IsInRole("Finance"))
                        {
                            <li class="nav-item">
                                <a id="SalariesValidation" asp-area="" asp-controller="Salaries" asp-action="SalariesValidation" class="nav-link">
                                    <p data-i18n="SalariesValidationModule">
                                        SalariesValidation
                                    </p>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole("SuperAdmin"))
                        {
                            <li class="nav-item">
                                <a id="UserModule" asp-area="" asp-controller="User" asp-action="UserSearch" class="nav-link">
                                    <p data-i18n="UserModule">
                                        Users
                                    </p>
                                </a>
                            </li>
                        }


                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewData["Title"]</h1>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>
        </div>

        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2020 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 3.1.0-rc
            </div>
        </footer>

    </div>


    <script type="text/html" id="tplConfirmDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div data-template-bind='[{"attribute": "class", "value": "cssClass"}]'>
                    <h4 class="modal-title" data-content="titleModal">
                        <i18n>Confirmation</i18n>
                    </h4>
                    <button type="button" class="close" data-dismiss="modal" data-binding-options='{"ignoreUndefined": true, "ignoreNull": true}' data-content="labelClose"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                </div>
                <div class="modal-body confirm" data-content-append="message">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action btn-danger" data-binding-options='{"ignoreUndefined": true, "ignoreNull": true}' data-dismiss="modal" data-content="labelCancel">
                        Cancel
                    </button>
                    <button type="button" class="btn btn-action btn-primary" data-dismiss="modal" data-content="labelYes" data-template-bind='[{"attribute": "onclick", "value": "onclick"}]'>
                        Yes
                    </button>
                </div>
            </div>
        </div>
    </script>



    <!-- Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="logoutModalLabel">Logout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you want to deconnect?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn btn-danger btn-block">Deconnect</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap-select.min.js"></script>
    <script src="~/lib/jquery-numeric/jquery.numeric.min.js"></script>
    <script src="~/lib/loadtemplate/dist/jquery.loadTemplate.min.js"></script>
    <script src="~/lib/mask/jquery.loadmask.min.js"></script>

    <script src="~/lib/i18next.min.js"></script>
    <script src="~/lib/jquery-i18next.min.js"></script>
    <script src="~/lib/i18nextXHRBackend.min.js"></script>

    <script src="~/lib/bootstrap-table.min.js"></script>
    <script src="~/lib/adminLte3/dist/js/adminlte.min.js"></script>

    @RenderSection("Scripts", required: false)

    @if (ViewData["Active"] != null)
    {
        <script type="text/javascript">document.getElementById("@ViewData["Active"]").classList.add("active")</script>
    }

</body>
</html>
