@model NKYS.Models.Cycle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cycle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StandardWorkingHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StandardWorkingHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastCalculedSalaryTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastCalculedSalaryTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidationTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
