@model IEnumerable<NKYS.Models.Cycle>

@{
    ViewData["Title"] = "周期管理模块";
}

<p>
    <a asp-action="CreateOrEdit" data-i18n="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StandardWorkingHours)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Validity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count()>0)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Month)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FromDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ToDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StandardWorkingHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @if (item.Validity)
                        {
                            <i class="fa fa-check" style="color:green"></i>
                        }
                        else
                        {
                            <i class="fa fa-times" style="color:red"></i>
                        }
                    </td>
                    <td>
                        <a asp-action="CreateOrEdit" asp-route-id="@item.Id" data-i18n="Edit"></a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr><td colspan="9" data-i18n="NoData"></td></tr>
        }

    </tbody>
</table>
