@model IEnumerable<NKYS.Models.Department>

@{
    ViewData["Title"] = "部门模块";
    ViewData["Active"] = "DepartmentsModule";
}

<p>
    <a asp-action="CreateOrEdit" data-i18n="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                <span data-i18n="NumberOfGroups"></span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @item.Groups.Count()
            </td>
            <td>
                <a asp-action="CreateOrEdit" asp-route-id="@item.Id" data-i18n="Edit"></a> |
                <a asp-action="Index" asp-controller="Groups" asp-route-DepartmentId="@item.Id" data-i18n="Groups"></a> 
            </td>
        </tr>
}
    </tbody>
</table>
