@model NKYS.Models.ViewModel.GroupsIndex
@{
    ViewData["Title"] = "车间模块"; 
    ViewData["Active"] = "DepartmentsModule";
}


<p>
    <a asp-action="CreateOrEdit" data-i18n="Create"></a>
</p>

<form class="row" asp-controller="Groups" asp-action="Index" method="get">
    <div class="col-3 form-group">
        <label asp-for="DepartmentId" class="control-label"></label>
        <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId">
            <option></option>
        </select>
    </div>

    <div class="col-3">
        <button type="submit" data-i18n="Search" class="btn btn-primary" style="margin-top:30px;">
        </button>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFixSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SharePropotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupVariableSharePropotion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductionValueTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                <span data-i18n="NumberOfEmployees"></span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Groups.Count() > 0)
        {
            @foreach (var item in Model.Groups)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @if (item.IsFixSalary)
                {
                    <i class="fa fa-check" style="color:green"></i>
                }
                else
                {
                    <i class="fa fa-times" style="color:red"></i>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharePropotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GroupVariableSharePropotion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionValueTypeId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @item.Employes.Count()
            </td>
            <td>
                <a asp-action="CreateOrEdit" asp-route-id="@item.Id" data-i18n="Edit"></a>
            </td>
        </tr>
            }

        }
        else
        {
            <tr><td colspan="8" data-i18n="NoData" style="text-align:center"></td></tr>
        }
    </tbody>
</table>
